body{
    background-color: #1F2937;
    color: rgb(203, 203, 203);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0px;
}

p {
    margin: 0;
}

.container {
    border: rgb(210, 210, 210) 2px solid;
    border-radius: 8px;
    max-width: 50%;
    margin: auto;
    padding: 30px 40px;
    margin-top: 50px;
    box-shadow: rgb(28, 28, 28) 10px 10px;
}

.specialText {
    color: #4ADF86;
}

button {
    background-color: rgb(70, 207, 125);
    border-radius: 5px;
    font-weight: 800;
    font-size: 16px;
    padding: 10px;
    margin: 20px 0px;
    border: none;
}

button:hover {
    color: rgb(210, 210, 210);
}


.pwdHolder {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
}

.pwdOne, .pwdTwo {
    background-color: #273549;
    padding: 10px;
    border-radius: 6px;
    width: 150px;
    text-align: center;
    color: #4ADF86;
    height: 15px;
    width: 150px;
}

.link {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

a {
    color: #4ADF86;
    text-decoration: none;
}

a:hover {
    color: rgb(210, 210, 210);
}

@media  (min-width: 650px) {
    .container{
        max-width: 35%;
    }
    
}
